.time-since-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0 40px 0;
}

.info-card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px 40px;

    background: linear-gradient(135deg, rgba(26, 26, 46, 0.9), rgba(32, 32, 53, 0.95));
    border-radius: 12px;

    color: #fff;
    min-width: fit-content;
}

.info-card-box.transparent {
    background: transparent !important;
    box-shadow: none !important;
    padding: 10px 0;
}

.time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.time-val {
    font-size: 4rem;
    margin-bottom: 0.3rem;
    margin-top: -0.5rem;
    font-weight: 100;
    line-height: 1;
    color: #fff;
    font-variant-numeric: tabular-nums;
}

.time-label {
    font-size: 1.1rem;
    color: #aaa;
    margin-top: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: inherit;
}

.date-display {
    font-size: 2rem;
    font-weight: 100;
}

#laststream {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

@media (max-width: 600px) {
    .info-card-box {
        gap: 0.5rem;
        padding: 0px 5px;
        background: transparent;
        box-shadow: none;
    }

    .time-unit {
        width: 70px;
    }

    .time-val {
        font-size: 2.6rem;
        margin-bottom: 0px;
    }

    .time-label {
        font-size: 0.8rem;
    }

    .date-display {
        font-size: 1.4rem;
    }

    @media (max-width: 350px) {
        .time-unit {
            width: auto;
            min-width: 40px;
        }

        .time-val {
            font-size: 1.5rem;
        }

        .time-label {
            font-size: 0.6rem;
        }

        .info-card-box {
            padding: 10px 5px;
        }
    }
}