#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button.mdc-button {
  color: #77f !important;
}

button.mdc-button.mdc-button--raised {
  padding: 1em 2.2em !important;
  font-size: 1.2em !important;
  background-color: #23274b !important;
  color: #ddd !important;
  border-radius: 7px !important;
}

dialog.mdc-dialog {
  background-color: rgba(0, 0, 10, 0.50) !important;
  border: none;
}

div.mdc-dialog__surface {
  background-color: #223 !important;
  overflow: hidden;
}

h2.mdc-dialog__header__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

div.mdc-dialog__surface>* {
  color: #eee !important;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.mdc-dialog__body>div {
  position: relative;
  z-index: 10;
  width: 70%;
  margin: 0 auto;
}

.mdc-dialog__body>div>* {
  box-sizing: border-box;
}

.mdc-dialog__body>div>img {
  object-fit: contain;
  width: 10em;
  border: solid 3px #eee;
  border-radius: 50%;
  outline: solid 10px #171727;
}

input {
  margin: 0;
  padding: 0.5em 1em;
  width: 100%;

  background-color: #171727;
  border: solid 1px #446;
  border-radius: 7px;

  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.serif {
  font-family: Georgia, serif !important;
}

.lowtext {
  color: rgba(130, 130, 130, 0.85);
}

.darkbg {
  background-color: #171727;
}

#logo {
  display: block;
  width: 80%;
  margin: 0;
  padding-left: 20%;
}

#sharepfp {
  margin-top: -0.5em;
}

#sharename {
  margin: 5px;
  font-size: 3.5em;
}

#sharequote {
  margin-top: 10px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
  font-weight: 100;
  line-height: 1.3em;
}

#sharequote:before {
  content: open-quote;
  margin-right: 0.2em;
  font-size: 1.3em;
}

#sharequote:after {
  content: close-quote;
  margin-left: 0.2em;
  font-size: 1.3em;
}

#sharequote.beeg {
  font-size: 2em;
}

#sharebg {
  position: fixed;
  z-index: 1;
  top: 0;
  left: -30%;
  width: 100%;
  filter: contrast(0.7) brightness(0.34) saturate(0.8);
  mix-blend-mode: lighten;
}

.mdc-dialog__footer__button,
.mdc-dialog__footer button {
  background-color: #495494 !important;
  color: white !important;
  border-radius: 3px !important;
  padding: 5px 20px !important;
  text-transform: none !important;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  font-weight: 400 !important;
  letter-spacing: 0.5px !important;
  transition: background-color 0.2s, transform 0.1s;
}

.mdc-dialog__footer__button:hover,
.mdc-dialog__footer button:hover {
  background-color: #5c6bc0 !important;
  transform: translateY(-1px);
}

.mdc-dialog__footer__button--cancel,
.mdc-dialog__footer button.mdc-dialog__footer__button--cancel {
  background-color: transparent !important;
  color: #ddd !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.mdc-dialog__footer__button--cancel:hover,
.mdc-dialog__footer button.mdc-dialog__footer__button--cancel:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.doko-section {
  margin: 2rem 0;
}

.section-header {
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .doko-section {
    margin: 0px 0 !important;
  }

  .section-header {
    margin-top: 0.9em;
    margin-bottom: 8px !important;
    font-size: 1rem !important;
    line-height: 1.1;
  }

  #titleheading {
    margin: 0px !important;
    font-size: 1.4em;
  }

  #topbar {
    margin: 0px 0 !important;
    padding: 10px 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  #logo {
    width: 50px !important;
    padding: 0px !important;
  }

  .card {
    padding: 0 !important;
  }

  #app {
    padding: 0 !important;
    padding-top: 5px !important;
  }

  /* Hide empty stream message in compact mode */
  .no-stream-msg {
    display: none !important;
  }
}