#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button.mdc-button {
  color: #77f !important;
}

button.mdc-button.mdc-button--raised {
  padding: 1em 2.2em !important;
  font-size: 1.2em !important;
  background-color: #446 !important;
  border-radius: 7px !important;
}

dialog.mdc-dialog {
  background-color: rgba(0,0,10,0.50) !important;
  border:none;
}

div.mdc-dialog__surface {
  background-color: #223 !important;
  overflow: hidden;
}

h2.mdc-dialog__header__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

div.mdc-dialog__surface > * {
  color: #eee !important;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.mdc-dialog__body > div {
  position:relative;
  z-index: 10;
  width: 70%;
  margin: 0 auto;
}

.mdc-dialog__body > div > * {
  box-sizing:border-box;
}

.mdc-dialog__body > div > img {
  object-fit: contain;
  width: 10em;
  border: solid 3px #eee;
  border-radius: 50%;
  outline: solid 10px #171727;
}

input {
  margin: 0;
  padding: 0.5em 1em;
  width: 100%;

  background-color: #171727;
  border: solid 1px #446;
  border-radius: 7px;

  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.serif {
  font-family: Georgia, serif !important;
}

.lowtext {
  color: rgba(130, 130, 130, 0.85);
}

.darkbg {
  background-color: #171727;
}

#logo {
  display: block;
  width: 80%;
  margin: 0;
  padding-left: 20%;
}

#sharepfp {
  margin-top: -0.5em;
}

#sharename {
  margin: 5px;
  font-size: 3.5em;
}

#sharequote {
  margin-top: 10px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
  font-weight: 100;
  line-height: 1.3em;
  /* quotes: "\"" "\"" ; */
}

#sharequote:before {
  content: open-quote;
  margin-right: 0.2em;
  font-size: 1.3em;
}

#sharequote:after {
  content: close-quote;
  margin-left: 0.2em;
  font-size: 1.3em;
}

#sharebg {
  position:fixed;
  z-index: 1;
  top: 0;
  left: -30%;
  width: 100%;
  filter: contrast(0.7) brightness(0.34) saturate(0.8);
  mix-blend-mode: lighten;
}